* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #EBF2F5;
    height: 100vh;
}

body,
input,
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
}